body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(161, 255, 206, 1) 0%,
    rgba(250, 255, 209, 1) 90%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-image: linear-gradient(
    89.9deg,
    rgba(178, 253, 238, 0.96) -8.1%,
    rgba(207, 244, 254, 1) 26.3%,
    rgba(207, 244, 254, 0.48) 47.5%,
    rgba(254, 219, 243, 0.63) 61.5%,
    rgba(254, 219, 243, 1) 78.7%,
    rgba(254, 207, 210, 1) 109.2%
  );
}

#canvas {
  min-height: 600px;
  min-width: 1200px;
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
}
